/*********************************/
/* 4luada Playground v.3  - DOTA */
/*********************************/
/* STATS                         */
/* ITEMS                         */
/* SKILLS                        */
/*********************************/

/* STATS
------------------------------------------------------------------------------------------------ */
.dota-stats {
  float:left;
  width:100%;
  margin-bottom:30px;
  
  .ui-block-b .ui-bar-a {
    margin-left:-1px;
  }
  .ui-bar {
    padding:0 1em;
  }
  ul.ui-listview {
    margin:-1px -1em;

    & > li {
      padding:0.5em;

      &:before {
        content:'';
        display:inline-block;
        background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/dota-stats.png");
        background-repeat:no-repeat;
        vertical-align:middle;
      }
      &.str:before,
      &.agi:before,
      &.int:before {
        width:33px;
        height:33px;
        margin:3px 10px 3px 0;
      }
      &.str:before { background-position:-57px 0; }
      &.agi:before { background-position:-57px -33px; }
      &.int:before { background-position:-57px -66px; }

      &.atk:before,
      &.spd:before,
      &.def:before {
        width:50px;
        height:31px;
        margin:0 5px 8px 0;
      }
      &.atk:before { background-position:0 0; }
      &.spd:before {
        width:54px;
        height:40px;
        margin:0 1px -1px 0;
        background-position:0 -31px;
      }
      &.def:before { background-position:0 -71px; }
    }

    li.primary:after {
      content:'';
      display:block;
      width:40px;
      height:40px;
      background-repeat:no-repeat;
      background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/dota-stats.png");
      background-position:-90px 0;
      position:absolute;
      top:50%;
      left:5px;
      margin:-20px 0;
    }
  }
}

/* ITEMS
------------------------------------------------------------------------------------------------ */
.dota-items {
  ul {
    list-style:none;
    padding-left:0;

    li {
      display:inline-block;
      margin:0 1px 8px;

      a {
        display:block;
        width:48px;
        height:35px;
        border:1px solid #CCC;
        margin:0 auto;
        background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/dota_items2.png");
        text-indent:-9999px;
        border-radius:5px;
      }

      a {
        &.clarity  { background-position:-1px -1px; }
        &.faerie   { background-position:-1px -40px; }
        &.mango    { background-position:-1px -79px; }
        &.tango    { background-position:-1px -118px; }
        &.healing  { background-position:-1px -157px; }
        &.smoke    { background-position:-1px -196px; }
        &.portal   { background-position:-1px -235px; }
        &.dust     { background-position:-1px -274px; }
        &.courier  { background-position:-1px -313px; }
        &.fcourier { background-position:-1px -352px; }
        &.ward     { background-position:-1px -391px; }
        &.sentry   { background-position:-1px -430px; }
        &.bottle   { background-position:-1px -469px; }

        &.branch    { background-position:-53px -1px; }
        &.gauntlets { background-position:-53px -40px; }
        &.slippers  { background-position:-53px -79px; }
        &.mantle    { background-position:-53px -118px; }
        &.circlet   { background-position:-53px -157px; }
        &.belt      { background-position:-53px -196px; }
        &.band      { background-position:-53px -235px; }
        &.robe      { background-position:-53px -274px; }
        &.ogre      { background-position:-53px -313px; }
        &.alacrity  { background-position:-53px -352px; }
        &.wizardry  { background-position:-53px -391px; }
        &.greaves   { background-position:-53px -430px; }
        &.octarine  { background-position:-53px -469px; }

        &.ring         { background-position:-105px -1px }
        &.stout        { background-position:-105px -40px }
        &.quelling     { background-position:-105px -79px }
        &.venom        { background-position:-105px -118px; }
        &.blades       { background-position:-105px -157px; }
        &.chainmail    { background-position:-105px -196px; }
        &.quarterstaff { background-position:-105px -235px; }
        &.helm         { background-position:-105px -274px; }
        &.broadsword   { background-position:-105px -313px; }
        &.claymore     { background-position:-105px -352px; }
        &.javelin      { background-position:-105px -391px; }
        &.mithril      { background-position:-105px -430px; }

        &.stick   { background-position:-157px -1px }
        &.sage    { background-position:-157px -40px }
        &.regen   { background-position:-157px -79px }
        &.boots   { background-position:-157px -118px; }
        &.gloves  { background-position:-157px -157px; }
        &.cloak   { background-position:-157px -196px; }
        &.rhealth { background-position:-157px -235px; }
        &.void    { background-position:-157px -274px; }
        &.gem     { background-position:-157px -313px; }
        &.morbid  { background-position:-157px -352px; }
        &.amulet  { background-position:-157px -391px; }
        &.ghost   { background-position:-157px -430px; }
        &.blink   { background-position:-157px -469px; }

        &.wand         { background-position:-209px -1px }
        &.null         { background-position:-209px -40px }
        &.wraith       { background-position:-209px -79px }
        &.poor         { background-position:-209px -118px; }
        &.bracer       { background-position:-209px -157px; }
        &.soulring     { background-position:-209px -196px; }
        &.phase        { background-position:-209px -235px; }
        &.treads       { background-position:-209px -274px; }
        &.oblivion     { background-position:-209px -313px; }
        &.perseverance { background-position:-209px -352px; }
        &.midas        { background-position:-209px -391px; }
        &.travel       { background-position:-209px -430px; }
        &.moon         { background-position:-209px -469px; }

        &.basilius  { background-position:-261px -1px }
        &.talon     { background-position:-261px -40px }
        &.headdress { background-position:-261px -79px }
        &.buckler   { background-position:-261px -118px; }
        &.urn       { background-position:-261px -157px; }
        &.tranquil  { background-position:-261px -196px; }
        &.aquila    { background-position:-261px -235px; }
        &.medallion { background-position:-261px -274px; }
        &.arcane    { background-position:-261px -313px; }
        &.drum      { background-position:-261px -352px; }
        &.mekansm   { background-position:-261px -391px; }
        &.vladmir   { background-position:-261px -430px; }
        &.pipe      { background-position:-261px -469px; }

        &.glimmer      { background-position:-360px -1px }
        &.force        { background-position:-360px -40px }
        &.veil         { background-position:-360px -79px }
        &.aether       { background-position:-360px -118px; }
        &.necronomicon { background-position:-360px -157px; }
        &.dagon        { background-position:-360px -196px; }
        &.eul          { background-position:-360px -235px; }
        &.solar        { background-position:-360px -274px; }
        &.rod          { background-position:-360px -313px; }
        &.orchid       { background-position:-360px -352px; }
        &.aghanim      { background-position:-360px -391px; }
        &.refresher    { background-position:-360px -430px; }
        &.vyse         { background-position:-360px -469px; }

        &.crystalys   { background-position:-420px -1px }
        &.mordiggian  { background-position:-420px -40px }
        &.shadowblade { background-position:-420px -79px }
        &.basher      { background-position:-420px -118px; }
        &.battlefury  { background-position:-420px -157px; }
        &.ethereal    { background-position:-420px -196px; }
        &.silver      { background-position:-420px -235px; }
        &.radiance    { background-position:-420px -274px; }
        &.monkey      { background-position:-420px -313px; }
        &.daedalus    { background-position:-420px -352px; }
        &.butterfly   { background-position:-420px -391px; }
        &.divine      { background-position:-420px -430px; }
        &.abyssal     { background-position:-420px -469px; }

        &.hood        { background-position:-480px -1px }
        &.vanguard    { background-position:-480px -40px }
        &.blademail   { background-position:-480px -79px }
        &.soulbooster { background-position:-480px -118px; }
        &.crimson     { background-position:-480px -157px; }
        &.bkb         { background-position:-480px -196px; }
        &.lotus       { background-position:-480px -235px; }
        &.shivas      { background-position:-480px -274px; }
        &.bloodstone  { background-position:-480px -313px; }
        &.manta       { background-position:-480px -352px; }
        &.linkens     { background-position:-480px -391px; }
        &.assault     { background-position:-480px -430px; }
        &.tarrasque   { background-position:-480px -469px; }

        &.madness    { background-position:-540px -1px }
        &.dominator  { background-position:-540px -40px }
        &.dragon     { background-position:-540px -79px }
        &.sange      { background-position:-540px -118px; }
        &.yasha      { background-position:-540px -157px; }
        &.maelstrom  { background-position:-540px -196px; }
        &.diffusal   { background-position:-540px -235px; }
        &.desolator  { background-position:-540px -274px; }
        &.halberd    { background-position:-540px -313px; }
        &.sangeyasha { background-position:-540px -352px; }
        &.skadi      { background-position:-540px -391px; }
        &.mjollnir   { background-position:-540px -430px; }
        &.satanic    { background-position:-540px -469px; }

        &.energy     { background-position:-600px -1px }
        &.point      { background-position:-600px -40px }
        &.vitality   { background-position:-600px -79px }
        &.platemail  { background-position:-600px -118px; }
        &.talisman   { background-position:-600px -157px; }
        &.hyperstone { background-position:-600px -196px; }
        &.orb        { background-position:-600px -235px; }
        &.demon      { background-position:-600px -274px; }
        &.mystic     { background-position:-600px -313px; }
        &.reaver     { background-position:-600px -352px; }
        &.eaglesong  { background-position:-600px -391px; }
        &.sacred     { background-position:-600px -430px; }
      }
    }
  }
} 

/* SKILLS
------------------------------------------------------------------------------------------------ */
.dota-skills {
  table {
    width:100%;

    thead th {
      position:relative;
      border:1px solid #DDD;

      &:before {
        content:"";
        display:block;
        padding-top:100%;
      }

      a {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        display:block;
        padding:0 1px 1px;
        background-repeat:no-repeat;
        background-size:cover;
      }
    }

    thead th 
    tbody td {
      background:#F1F1F1;
      padding:7px 0 5px;
      border:1px solid #DDD;
      color:#FFF;
      font-weight:bold;
      text-align:center;
      text-shadow:none;
    }
    tbody tr {
      td {
        background:#E8E8E8;
      }
      &.s1 td:nth-child(1),
      &.s2 td:nth-child(2),
      &.s3 td:nth-child(3),
      &.s4 td:nth-child(4),
      &.sx td:last-child {
        padding:5px 0;
        background:#A6CDE4;
        font-size:.8em;
        text-align:center;
      }
      &.s1 td:not(:nth-child(1)):before{ content:initial; }
      &.s2 td:not(:nth-child(2)):before{ content:initial; }
      &.s3 td:not(:nth-child(3)):before{ content:initial; }
      &.s4 td:not(:nth-child(4)):before{ content:initial; }
      &.sx td:not(:last-child):before{ content:initial; }

      &:nth-child(1) td:before{ content:'1'; }
      &:nth-child(2) td:before{ content:'2'; }
      &:nth-child(3) td:before{ content:'3'; }
      &:nth-child(4) td:before{ content:'4'; }
      &:nth-child(5) td:before{ content:'5'; }
      &:nth-child(6) td:before{ content:'6'; }
      &:nth-child(7) td:before{ content:'7'; }
      &:nth-child(8) td:before{ content:'8'; }
      &:nth-child(9) td:before{ content:'9'; }
      &:nth-child(10) td:before{ content:'10'; }
      &:nth-child(11) td:before{ content:'11'; }
      &:nth-child(12) td:before{ content:'12'; }
      &:nth-child(13) td:before{ content:'13'; }
      &:nth-child(14) td:before{ content:'14'; }
      &:nth-child(15) td:before{ content:'15'; }
      &:nth-child(16) td:before{ content:'16'; }
      &:nth-child(17) td:before{ content:'17'; }
      &:nth-child(18) td:before{ content:'18'; }
      &:nth-child(19) td:before{ content:'19'; }
      &:nth-child(20) td:before{ content:'20'; }
      &:nth-child(21) td:before{ content:'21'; }
      &:nth-child(22) td:before{ content:'22'; }
      &:nth-child(23) td:before{ content:'23'; }
      &:nth-child(24) td:before{ content:'24'; }
      &:nth-child(25) td:before{ content:'25'; }
    }
  }
  .skillx { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/stat.png"); }
}

#dota2-abaddon {
  .skill1 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s1.png"); }
  .skill2 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s2.png"); }
  .skill3 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s3.png"); }
  .skill4 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s4.png"); }
}
#dota2-bristleback {
  .skill1 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s1.png"); }
  .skill2 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s2.png"); }
  .skill3 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s3.png"); }
  .skill4 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s4.png"); }
}
#dota2-drow {
  .skill1 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/drow_s1.png"); }
  .skill2 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/drow_s2.png"); }
  .skill3 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/drow_s3.png"); }
  .skill4 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/drow_s4.png"); }
}