/*********************************/
/* 4luada Playground v.3  - DOTA */
/*********************************/
/* STATS                         */
/* ITEMS                         */
/* SKILLS                        */
/*********************************/

/* STATS
------------------------------------------------------------------------------------------------ */
.dota-stats {
  .ui-block-b .ui-bar-a {
    margin-left:-1px;
  }
  .ui-bar {
    padding:0 1em;
  }
  ul.ui-listview {
    margin:-1px -1em;

    & > li {
      padding:0.5em;

      &:before {
        content:'';
        display:inline-block;
        background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/dota-stats.png");
        background-repeat:no-repeat;
        vertical-align:middle;
      }
      &.str:before,
      &.agi:before,
      &.int:before {
        width:33px;
        height:33px;
        margin:3px 10px 3px 0;
      }
      &.str:before { background-position:-57px 0; }
      &.agi:before { background-position:-57px -33px; }
      &.int:before { background-position:-57px -66px; }

      &.atk:before,
      &.spd:before,
      &.def:before {
        width:50px;
        height:31px;
        margin:0 5px 8px 0;
      }
      &.atk:before { background-position:0 0; }
      &.spd:before {
        width:54px;
        height:40px;
        margin:0 1px -1px 0;
        background-position:0 -31px;
      }
      &.def:before { background-position:0 -71px; }
    }

    &, li.primary:after {
      content:'';
      display:block;
      width:40px;
      height:40px;
      background-repeat:no-repeat;
      background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/dota-stats.png");
      background-position:-90px 0;
      position:absolute;
      top:50%;
      left:5px;
      margin:-20px 0;
    }
  }
}

/* ITEMS
------------------------------------------------------------------------------------------------ */
.dota-items {
  ul {
    list-style:none;
    padding-left:0;

    li {
      display:inline-block;
      margin:0 1px 8px;

      a {
        display:block;
        width:50px;
        height:38px;
        border:1px solid #CCC;
        margin:0 auto;
        background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/dota_items.jpg");
        text-indent:-9999px;
        border-radius:5px;
      }

      a {
        &.clarity { background-position:0 0; }
        &.mango { background-position:0 -38px; }
        &.tango { background-position:0 -76px; }
        &.healing { background-position:0 -114px; }
        &.smoke { background-position:0 -152px; }
        &.portal { background-position:0 -190px; }
        &.dust { background-position:0 -228px; }
        &.courier { background-position:0 -266px; }
        &.fcourier { background-position:0 -304px; }
        &.ward { background-position:0 -342px; }
        &.sentry { background-position:0 -380px; }
        &.bottle { background-position:0 -418px; }

        &.branch { background-position:-60px 0; }
        &.gauntlets { background-position:-60px -38px; }
        &.slippers { background-position:-60px -76px; }
        &.mantle { background-position:-60px -114px; }
        &.circlet { background-position:-60px -152px; }
        &.belt { background-position:-60px -190px; }
        &.band { background-position:-60px -228px; }
        &.robe { background-position:-60px -266px; }
        &.ogre { background-position:-60px -304px; }
        &.alacrity { background-position:-60px -342px; }
        &.wizardry { background-position:-60px -380px; }

        &.ring { background-position:-120px 0; }
        &.stout { background-position:-120px -38px; }
        &.quelling { background-position:-120px -76px; }
        &.venom { background-position:-120px -114px; }
        &.blades { background-position:-120px -152px; }
        &.chainmail { background-position:-120px -190px; }
        &.quarterstaff { background-position:-120px -228px; }
        &.helm { background-position:-120px -266px; }
        &.broadsword { background-position:-120px -304px; }
        &.claymore { background-position:-120px -342px; }
        &.javelin { background-position:-120px -380px; }
        &.mithril { background-position:-120px -418px; }

        &.stick { background-position:-180px 0; }
        &.sage { background-position:-180px -38px; }
        &.regen { background-position:-180px -76px; }
        &.boots { background-position:-180px -114px; }
        &.gloves { background-position:-180px -152px; }
        &.cloak { background-position:-180px -190px; }
        &.rhealth { background-position:-180px -228px; }
        &.void { background-position:-180px -266px; }
        &.gem { background-position:-180px -304px; }
        &.morbid { background-position:-180px -342px; }
        &.amulet { background-position:-180px -380px; }
        &.ghost { background-position:-180px -418px; }
        &.blink { background-position:-180px -456px; }

        &.wand { background-position:-240px 0; }
        &.null { background-position:-240px -38px; }
        &.wraith { background-position:-240px -76px; }
        &.poor { background-position:-240px -114px; }
        &.bracer { background-position:-240px -152px; }
        &.soulring { background-position:-240px -190px; }
        &.phase { background-position:-240px -228px; }
        &.treads { background-position:-240px -266px; }
        &.oblivion { background-position:-240px -304px; }
        &.perseverance { background-position:-240px -342px; }
        &.midas { background-position:-240px -380px; }
        &.travel { background-position:-240px -418px; }
        &.moon { background-position:-240px -456px; }

        &.basilius { background-position:-300px 0; }
        &.headdress { background-position:-300px -38px; }
        &.buckler { background-position:-300px -76px; }
        &.urn { background-position:-300px -114px; }
        &.tranquil { background-position:-300px -152px; }
        &.aquila { background-position:-300px -190px; }
        &.medallion { background-position:-300px -228px; }
        &.arcane { background-position:-300px -266px; }
        &.drum { background-position:-300px -304px; }
        &.mekansm { background-position:-300px -342px; }
        &.vladmir { background-position:-300px -380px; }
        &.pipe { background-position:-300px -418px; }
        &.greaves { background-position:-300px -456px; }

        &.glimmer { background-position:-360px 0; }
        &.force { background-position:-360px -38px; }
        &.veil { background-position:-360px -76px; }
        &.necronomicon { background-position:-360px -114px; }
        &.dagon { background-position:-360px -152px; }
        &.eul { background-position:-360px -190px; }
        &.solar { background-position:-360px -228px; }
        &.rod { background-position:-360px -266px; }
        &.orchid { background-position:-360px -304px; }
        &.aghanim { background-position:-360px -342px; }
        &.refresher { background-position:-360px -380px; }
        &.vyse { background-position:-360px -418px; }
        &.octarine { background-position:-360px -456px; }

        &.crystalys { background-position:-420px 0; }
        &.mordiggian { background-position:-420px -38px; }
        &.shadowblade { background-position:-420px -76px; }
        &.basher { background-position:-420px -114px; }
        &.battlefury { background-position:-420px -152px; }
        &.ethereal { background-position:-420px -190px; }
        &.silver { background-position:-420px -228px; }
        &.radiance { background-position:-420px -266px; }
        &.monkey { background-position:-420px -304px; }
        &.daedalus { background-position:-420px -342px; }
        &.butterfly { background-position:-420px -380px; }
        &.divine { background-position:-420px -418px; }
        &.abyssal { background-position:-420px -456px; }

        &.hood { background-position:-480px 0; }
        &.vanguard { background-position:-480px -38px; }
        &.blademail { background-position:-480px -76px; }
        &.soulbooster { background-position:-480px -114px; }
        &.crimson { background-position:-480px -152px; }
        &.bkb { background-position:-480px -190px; }
        &.lotus { background-position:-480px -228px; }
        &.shivas { background-position:-480px -266px; }
        &.bloodstone { background-position:-480px -304px; }
        &.manta { background-position:-480px -342px; }
        &.linkens { background-position:-480px -380px; }
        &.assault { background-position:-480px -418px; }
        &.tarrasque { background-position:-480px -456px; }

        &.madness { background-position:-540px 0; }
        &.dominator { background-position:-540px -38px; }
        &.sange { background-position:-540px -76px; }
        &.yasha { background-position:-540px -114px; }
        &.maelstrom { background-position:-540px -152px; }
        &.diffusal { background-position:-540px -190px; }
        &.desolator { background-position:-540px -228px; }
        &.halberd { background-position:-540px -266px; }
        &.sangeyasha { background-position:-540px -304px; }
        &.skadi { background-position:-540px -342px; }
        &.mjollnir { background-position:-540px -380px; }
        &.satanic { background-position:-540px -418px; }

        &.energy { background-position:-600px 0; }
        &.point { background-position:-600px -38px; }
        &.vitality { background-position:-600px -76px; }
        &.platemail { background-position:-600px -114px; }
        &.talisman { background-position:-600px -152px; }
        &.hyperstone { background-position:-600px -190px; }
        &.orb { background-position:-600px -228px; }
        &.demon { background-position:-600px -266px; }
        &.mystic { background-position:-600px -304px; }
        &.reaver { background-position:-600px -342px; }
        &.eaglesong { background-position:-600px -380px; }
        &.sacred { background-position:-600px -418px; }
      }
    }
  }
} 

/* SKILLS
------------------------------------------------------------------------------------------------ */
.dota-skills {
  table {
    width:100%;

    thead th {
      position:relative;
      border:1px solid #DDD;

      &:before {
        content:"";
        display:block;
        padding-top:100%;
      }

      a {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        display:block;
        padding:0 1px 1px;
        background-repeat:no-repeat;
        background-size:cover;
      }
    }

    thead th 
    tbody td {
      background:#F1F1F1;
      padding:7px 0 5px;
      border:1px solid #DDD;
      color:#FFF;
      font-weight:bold;
      text-align:center;
      text-shadow:none;
    }
    tbody tr {
      &.s1 td:nth-child(1),
      &.s2 td:nth-child(2),
      &.s3 td:nth-child(3),
      &.s4 td:nth-child(4),
      &.sx td:last-child {
        background:#A6CDE4;
        font-size:.8em;
      }
      &.s1 td:not(:nth-child(1)):before{ content:initial; }
      &.s2 td:not(:nth-child(2)):before{ content:initial; }
      &.s3 td:not(:nth-child(3)):before{ content:initial; }
      &.s4 td:not(:nth-child(4)):before{ content:initial; }
      &.sx td:not(:last-child):before{ content:initial; }

      &:nth-child(1) td:before{ content:'1'; }
      &:nth-child(2) td:before{ content:'2'; }
      &:nth-child(3) td:before{ content:'3'; }
      &:nth-child(4) td:before{ content:'4'; }
      &:nth-child(5) td:before{ content:'5'; }
      &:nth-child(6) td:before{ content:'6'; }
      &:nth-child(7) td:before{ content:'7'; }
      &:nth-child(8) td:before{ content:'8'; }
      &:nth-child(9) td:before{ content:'9'; }
      &:nth-child(10) td:before{ content:'10'; }
      &:nth-child(11) td:before{ content:'11'; }
      &:nth-child(12) td:before{ content:'12'; }
      &:nth-child(13) td:before{ content:'13'; }
      &:nth-child(14) td:before{ content:'14'; }
      &:nth-child(15) td:before{ content:'15'; }
      &:nth-child(16) td:before{ content:'16'; }
      &:nth-child(17) td:before{ content:'17'; }
      &:nth-child(18) td:before{ content:'18'; }
      &:nth-child(19) td:before{ content:'19'; }
      &:nth-child(20) td:before{ content:'20'; }
      &:nth-child(21) td:before{ content:'21'; }
      &:nth-child(22) td:before{ content:'22'; }
      &:nth-child(23) td:before{ content:'23'; }
      &:nth-child(24) td:before{ content:'24'; }
      &:nth-child(25) td:before{ content:'25'; }
    }
  }
  .skillx { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/stat.png"); }
}

#dota2-abaddon {
  .skill1 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s1.png"); }
  .skill2 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s2.png"); }
  .skill3 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s3.png"); }
  .skill4 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/abbadon_s4.png"); }
}
#dota2-bristleback {
  .skill1 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s1.png"); }
  .skill2 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s2.png"); }
  .skill3 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s3.png"); }
  .skill4 { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Dota/Dota%20Skills/bristleback_s4.png"); }
}