/************************************/
/* 4luada Playground v.3  - POKEMON */
/************************************/
/* POKEMON TEAM                     */
/* POKEMON TYPES                    */
/* POKEMON MOVES                    */
/************************************/

/* POKEMON TEAM
------------------------------------------------------------------------------------------------ */
.pokemon-teams {
  ul.pokemon-team {
    li {
      padding:0;
    }
    h2 {
      margin:0;
      i { float:right; }
      a { border:none; }
    }
  }
  .pokemon-detail-btn {
    a { background-color:#F1F1F1; }
  }
}

/* POKEMON DETAIL
------------------------------------------------------------------------------------------------ */
.pokemon-detail {
  p.pokemon-image {
    float:left;
    width:100px;
    height:130px;
    margin:0 15px 20px 0;
    text-align:center;

    img {
      display:inline-block;
      width:100px;
      width:100px;
    }
  }
}

/* POKEMON TYPES
------------------------------------------------------------------------------------------------ */
.pokemon-type-box {
  .bug, .dragon, .dark, .electric, .fight, .fire, .flying, .ghost, .ground, .grass, .ice, .normal, .poison, .psychic, .rock, .steel, .unknown, .water {
    display:inline-block;
    height:18px;
    width:36px;
    padding:0 3px;
    border:1px solid #FFF;
    border-radius:4px;
    line-height:18px;
    color:#FFF;
    font-family:Verdana, Geneva, sans-serif;
    font-size:8px;
    font-style:normal;
    font-weight:normal;
    text-shadow:1px 1px 0 #000;
    text-align:center;
  }

  .bug { background:#A9B923; &:before { content:"BUG"; } }
  .dragon { background:#733DF8; &:before { content:"DRAGON"; } }
  .dark { background:#705848; &:before { content:"DARK"; } }
  .electric { background:#F8D33F; &:before { content:"ELECTR"; } }
  .fight { background:#C33931; &:before { content:"FIGHT"; } }
  .fire { background:#F08234; &:before { content:"FIRE"; } }
  .flying { background:#A890F0; &:before { content:"FLYING"; } }
  .ghost { background:#705898; &:before { content:"GHOST"; } }
  .grass { background:#86CE63; &:before { content:"GRASS"; } }
  .ground { background:#E0C068; &:before { content:"GROUND"; } }
  .ice { background:#A1DCDC; &:before { content:"ICE"; } }
  .normal { background:#A8A878; &:before { content:"NORMAL"; } }
  .poison { background:#A040A0; &:before { content:"POISON"; } }
  .psychic { background:#F85988; &:before { content:"PSYCHC"; } }
  .rock { background:#B9A13A; &:before { content:"ROCK"; } }
  .steel { background:#B8B8D0; &:before { content:"STEEL"; } }
  .unknown { background:#68A090; &:before { content:"???"; } }
  .water { background:#7096F1; &:before { content:"WATER"; } }
}
.pokemon-moves {
  a.bug { background-color:rgb(212, 220, 145); }
  a.dark { background-color:rgb(184, 172, 164); }
  a.dragon { background-color:rgb(185, 158, 252); }
  a.electric { background-color:rgb(252, 233, 159); }
  a.flying { background-color:rgb(212, 200, 248); }
  a.ghost { background-color:rgb(184, 172, 204); }
  a.grass { background-color:rgb(195, 231, 177); }
  a.ground { background-color:rgb(240, 224, 180); }
  a.ice { background-color:rgb(208, 238, 238); }
  a.normal { background-color:rgb(212, 212, 188); }
  a.poison { background-color:rgb(208, 160, 208); }
  a.psychic { background-color:rgb(252, 172, 196); }
  a.rock { background-color:rgb(220, 208, 157); }
  a.steel { background-color:rgb(220, 220, 232); }
  a.water { background-color:rgb(184, 203, 248); }
}


/* POKEMON ICONS
------------------------------------------------------------------------------------------------ */
.ui-icon-pokemon .ui-btn-icon-left {
  padding-left:50px;
  &:after {
    width:30px;
    height:30px;
    margin-top:-15px;
    text-indent:-5px;
    background-image:none;
  }
}

h2.ui-icon-pokemon {
  &.dragonite a:after { content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/dragonite_m.png'); }
  &.gyarados a:after { content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/gyarados_m.png'); }
  &.haunter a:after { content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/haunter_m.png'); }
  &.lapras a:after { content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/lapras_m.png'); }
  &.lugia a:after { content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/lugia_m.png'); }
  &.nidoqueen a:after { content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/nidoqueen_m.png'); }
}