/************************************/
/* 4luada Playground v.3  - POKEMON */
/************************************/
/* POKEMON TEAM                     */
/* POKEMON MOVES                    */
/************************************/

.ui-icon-pokemon .ui-btn-icon-left {
  padding-left:50px;
  &:after {
    width:30px;
    height:30px;
    margin-top:-15px;
    text-indent:-5px;
    background-image:none;
  }
}

.pokemon-teams {
  .dragon, .flying, .ghost, .ground, .ice, .poison, .psychic, .rock, .steel, .water {
    float:right;
    display:inline-block;
  }
}

/* POKEMON TEAM
------------------------------------------------------------------------------------------------ */
.pokemon-teams {
  ul.pokemon-team {
    li {
      padding:0;
    }
    h2 {
      margin:0;
      a { border:none; }
    }
  }
}

h2.dragonite.ui-icon-pokemon a:after {
  content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/dragonite_m.png');
}
h2.gyarados.ui-icon-pokemon a:after {
  content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/gyarados_m.png');
}
h2.haunter.ui-icon-pokemon a:after {
  content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/haunter_m.png');
}
h2.lapras.ui-icon-pokemon a:after {
  content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/lapras_m.png');
}
h2.lugia.ui-icon-pokemon a:after {
  content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/lugia_m.png');
}
h2.nidoqueen.ui-icon-pokemon a:after {
  content:url('http://i772.photobucket.com/albums/yy5/4luada/4layouts/4luada%20Playground%202/Pokemon/mini/nidoqueen_m.png');
}