/*********************************/
/*  4luada Playground v.3  - RO  */
/*********************************/
/* STATS                         */
/* - Distributed Stats           */
/* Character Stats               */
/* EQUIPMENTS                    */
/* - Detail                      */
/* - Headgears                   */
/* - Armours                     */
/* - Weapons                     */
/* - Shields                     */
/* - Garments                    */
/* - Footgears                   */
/* - Accessory                   */
/* SKILLS                        */
/* - Acolyte Skills              */
/*********************************/

/* STATS
------------------------------------------------------------------------------------------------ */
.ragnarok-stats {
  /* - Distributed Stats */
  .ui-block-a {
    .ui-bar {
      padding:0;
    }
    .ui-listview {
      margin:-1px 0;

      li {
        padding:10px 0;
        font-weight:normal;
        text-align:center;

        & > * {
          display:inline-block;
        }
        & > b {
          width:45px;
          text-align:left;
        }
        & > span {
          text-align:right;

          &.base {
            width:30px;
            padding-right:10px;
          }
          &.bonus {
            width:20px;
            padding-left:10px;
          }
        }
      }
    }
  }
  /* Character Stats */
  .ui-block-b { 
    padding:3px 0;

    div {
      padding:5px 3px 5px 20px;
      text-align:right;

      b {
        float:left;
      }
    }
  }
}

/* EQUIPMENTS
------------------------------------------------------------------------------------------------ */
.ragnarok-equips {
  .ui-listview li a {
    background:#FFF;
    line-height:24px;
    font-weight:normal;

    &:before {
      content:"";
      display:block;
      float:left;
      margin:-5px 10px -5px -10px;
      padding:5px;
      width:24px;
      height:24px;
      background-color:#DDD;
      background-repeat:no-repeat;
      background-position:center center;
      border-radius:50%;
    }
  }
}
/* - Detail */
.ragnarok-equip-detail {
  h1.ui-title {
    &:before {
      content:"";
      display:inline-block;
      width:24px;
      height:24px;
      vertical-align:middle;
    }
  }
  ul {
    padding-left:15px;
    font-size:14px;
  }
}
/* - Headgears */
.h1-feather_beret:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/feather_beret.gif"); }

.h2-robo_eye:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/robo_eye.gif"); }

.h3-handkerchief:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/handkerchief_in_mouth.gif"); }

/* - Armours */
.ar-sprint_mail:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/sprint_mail.gif"); }

/* - Weapons */
.wp-speedy_recovery_wand:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/speedy_recovery_wand.gif"); }

/* - Shields */
.sd-orleans_server:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/orleanss_server.gif"); }

/* - Garments */
.ro-heroic_backpack:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/heroic_backpack.gif"); }

/* - Footgears */
.sh-sprint_shoes:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/sprint_shoes.gif"); }

/* - Accessory */
.ac-orleans_glove:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/orleans_glove.gif"); }
.ac-sprint_ring:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/sprint_ring.gif"); }

/* SKILLS
------------------------------------------------------------------------------------------------ */
.ragnarok-skills {
  h4 {
    margin:0 5px;
    color:#2980A2;
    font-size:14px;
  }
  .ragnarok-skills-list {
    a {
      text-indent:-9999px;
      background:#FFF;
      line-height:24px;
      font-weight:normal;

      &:before {
        content:"";
        display:block;
        float:left;
        margin:-5px 10px -5px -10px;
        padding:5px;
        width:24px;
        height:24px;
        background-color:#DDD;
        background-repeat:no-repeat;
        background-position:center center;
        border-radius:50%;
      }

      span {
        text-indent:0;
      }
    }
  }

  /* - Acolyte Skills */
  .heal:before { background-image:url("http://i772.photobucket.com/albums/yy5/4luada/RO/Equipments/sprint_ring.gif"); }
}